boto3==1.34.104
huggingface_hub==0.23.0
matplotlib==3.8.4
opencv-python==4.9.0.80
sentencepiece==0.2.0
sacremoses==0.1.1
tables==3.9.2
transformers==4.40.2
testbook==0.4.2
tqdm==4.42.1
requests==2.31.0
regex==2023.12.25